@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:.4rem .1rem 5rem rgba(0,0,0,.1);
    --green-color:#27ae5fec;
    --green-hover:#289055;
    --yellow:#f9d806;
}

*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
   outline:none;
   border:none;
   text-decoration:none;
   list-style-type: none;
   font-family: 'Nunito',sans-serif;
}

html{
    font-size: 70.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.text-center{
    text-align:center;
}

.header{
    position:sticky;
    top:0; left:0;right:0;
    height:5rem;
    border:1px solid #fff;    
    box-shadow:.4rem .5rem .4rem rgba(0, 0, 0, 0.294);
    background-color:rgb(255, 255, 255);
    display:flex;
    justify-content: space-between;
    align-items:center;
    /* padding-top:1.2rem;
    padding-bottom:1rem; */
    padding:3rem 9%;
    z-index:1;
}
.header-container{ 
   display:flex; 
}
.navf {
  margin-right:.2rem;
}


.header-container  a{
    font-size:1.5rem;
    border-radius: .5rem;
    padding:.8rem;
    color: var(--light-color);
    transition:all .3s ease 0s;
    
} 
.header-container  a:hover{
    color:#fff;
    cursor:pointer;
    background: var(--green);
    font-size: 1.6rem;
}
/* .navcon {
    font-size:2.5rem;
    display:none;
} */
.logo{
    padding-left:50px;
    font-size: 1.8rem;
    font-weight: bolder;
    color:var(--black);
    
}

header .logo i{
    color:var(--green);
}

.header .search input{
    padding:1rem;
    width: 15rem;
    border-style:none;
    border-radius:5px;
    font-size: 1.3rem;
    border:.1rem solid rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 0.822); 
}
.header .search input:focus{
width:19rem;
transition: width 1s ease;
background-color:rgba(255, 255, 255, 0.301);
} 

.nave{
    display:flex;
    /* margin-left:.1rem; */
}
.nave a{
   margin-left:.2rem;
   margin-right:.2rem;
} 

.form-popup{
   position:fixed;
   top:-105%;left:0;
   height:100%;
   width:100%;  
   background:rgba(255, 255, 255, 0.835);
   z-index:100000;
  display:flex;
  justify-content:center;

}
.form-popup.active{
    top:0;
}
.form-popup form{
    background:#fff;
    margin-top:6rem;
    padding:2rem;
    width:40rem;
    height:42rem;
    text-align:center;
    border:.1rem solid rgba(0, 0, 0, 0.1);
    text-align:center;
    border-radius:.5rem;
    box-shadow:.111rem .1rem .1rem .0111rem rgba(0, 0, 0, 0.459);
}
.form-popup input{
    margin:.7rem 0;
    width:100%;
    font-size:1.6rem;
    color:#130f40;
    text-transform:none;
    border:1px solid rgba(0, 0, 0, 0.205);
    border-radius:.5rem;
    padding:1rem 1.2rem;
}
.form-popup form h3{
    font-size:2.5rem;
    padding-bottom:1rem;
    color:#130f40;
    text-transform:uppercase;
}
.form-popup form p{
    padding:.1rem 0;
    font-size:1.6rem;
    color:var(--light-color);
    text-transform:capitalize;
    font-weight:550;
}
.form-popup form p a{
    padding-left:.6rem;
    color:#130f40;
    text-decoration:underline; 
}
.form-popup form input[type="submit"]{
  color:#fff;
  background:#27ae5fec;
  font-size:1.7rem;
  font-weight:550;
}
.form-popup form input[type="submit"]:hover{
    background:#289055;
    color:#eee;
} 

.buttons{
    display:flex;
    gap:1rem;
    justify-content:center;
    margin-bottom:1rem;
}   
.buttons a{
    padding:1rem;
    font-size:1.6rem;
    background:#18181828; 
    width:100%;  
    border-radius:.5rem;
    background:#4267b2;
    color:#fff;
}
.buttons .btn{
background-color:#DD4B39;
}
.form-popup #close-login-form{
    position:absolute;
    top:0;right:2rem;
    font-size:4.5rem;
    color:#130f40;
    cursor:pointer;
    font-weight:bolder;
}
/* signup form */
.form-signup.active{
    top:0;
}
.form-signup{
    position:fixed;
    top:-105%;left:0;
    height:100%;
    width:100%;  
    background:rgba(255, 255, 255, 0.835);
    z-index:100000;
   display:flex;
   justify-content:center;
 
 }
.form-signup form {
    background:#fff;
    margin-top:5rem;
    padding:2rem;
    width:40rem;
    height:42rem;
    text-align:center;
    border:.1rem solid rgba(0, 0, 0, 0.1);
    text-align:center;
    border-radius:.5rem;
    box-shadow:.111rem .1rem .1rem .0111rem rgba(0, 0, 0, 0.459);
}
.form-signup input{
    margin:.7rem 0;
    width:100%;
    font-size:1.6rem;
    color:#130f40;
    text-transform:none;
    border:1px solid rgba(0, 0, 0, 0.205);
    border-radius:.5rem;
    padding:1rem 1.2rem;
}
.form-signup form h3{
    font-size:2.5rem;
    padding-bottom:1rem;
    color:#130f40;
    text-transform:uppercase;
}
.form-signup form input[type="submit"]{
    color:#fff;
    background:#27ae5fec;
    font-size:1.7rem;
    font-weight:550;
    text-transform:capitalize;
  }
.form-signup form input[type="submit"]:hover{
    background:#289055;
    color:#eee;
}
.form-signup #close-signup-form{
    position:absolute;
    top:0;right:2rem;
    font-size:4.5rem;
    color:#130f40;
    cursor:pointer;
    font-weight:bolder;
    
} 
/* dropdown */
 .drop-down{
    position: relative;
    display:inline-block;
}

.drop-btn{
    margin-right:.2rem;
    padding:.8rem;
    color:var(--light-color);
    border-radius:.5rem;
    font-size:1.5rem;
    
}
.dropdown-content{
    margin-top:.8rem;
    position:absolute;
    background:#f1f1f1;
    display:none;
    z-index: 1;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{ 
     display:block;
     padding:.8rem .8rem .7rem .9rem; 
     color:var(--light-color);
     font-size:1.5rem;  
}

.dropdown-content a:hover, .dropdown:hover .drop-btn {
    color:#fff;
    cursor:pointer;
    background: var(--green);
    font-size: 1.6rem;
    transition:all .3s ease 0s;
}

.dropdown:hover .dropdown-content{
display:block;
} 


 /* slider section */
 .slides-container{
     position:relative;
     margin-top:.4rem;
     z-index:0;
     
    
}
 .slides img{
    width:100%;
    height:47rem;
    object-fit:cover;
 }
.slide-caption{
    position:absolute;
    top:4.5rem; left:26rem;
    font-size:6rem;
    color:rgba(255, 255, 255, 0.294);
    z-index:2;
}
.slide-caption h5{
    color:#fff;
    font-size:6rem;
    font-weight:1000;
    text-transform:uppercase;
}
.slide-caption p{
    font-size:4rem;
    color:#000;
    font-weight:550;
}
.slides-container:before{
 content:'';
 position:absolute;
 background: rgba(0, 0, 0, 0.164);
 width:100%;
 height:100%;
}
.prev, .next{
    position:absolute;
    font-size:3rem;
    top:40%;
    transform:translateY(-50%); 
    border:1px solid rgba(17, 17, 17, 0.061);
    padding:.3rem;  
 }
.prev i, .next i{
    font-size:4rem;
    background:rgba(255, 255, 255, 0.178);
    color:rgba(0, 0, 0, 0.452);
    border-radius:.4rem;
    padding:2rem .9rem 2rem .9rem;
}
.prev i:hover, .next i:hover{
    cursor:pointer; 
    color:#fff;
    background:rgba(0, 0, 0, 0.157);
}
.prev{
    transform:translateX(5rem);
}
.next{ 
    right:0;
    transform:translateX(-5.9rem);
}



/* card section starts */
.Card {
    background:rgba(255, 255, 255, 0.986);
    /* width:100%; */
    display:grid;
    align-items:center;
    margin-left:4rem;
}
.card-header {
    font-size:2.5rem;
    font-weight:800;
    padding:3rem;
    color:rgba(0, 0, 0, 0.726);
   display:inline-block;
   display:flex;
   justify-content:center;
   align-items:center;
   cursor:pointer;
}
.card-header-text:hover{
    border-bottom: .2rem solid grey;
}
.card-header .category-title{
   background-color:#000;
}
.card-container{
    /* display:flex; */
    display:grid;
    align-items:center;
    grid-template-columns: repeat(auto-fit,minmax(300px,350px));
    column-gap:3rem;
    
}
.card-body {
    border:1px solid rgba(0, 0, 0, 0.1);
    /* width:30%; */
    margin-left:.9rem;
    box-shadow:.5rem .4rem .3rem  rgba(0, 0, 0, 0.1);
    border-radius:5px;
    margin-bottom:1.5rem;
}
.category-title{
    font-size:2.5rem;
    font-weight:540;
    text-align:center;
    padding-top:1rem; 
    color:#289055;
}
.border{
    border:.1rem solid #16944d;
    display:inline-block;
   display:flex;
    margin-left:9rem;
    width:42%;
}
.card-t{
    font-size:2.2rem;
    font-weight:510;
    text-align:center;
    color:rgba(0, 0, 0, 0.705);
    padding-top: .4rem;
    padding-bottom:.9rem;
}
.card-img{
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.card-img img{
    height:250px;
    width:80%;
    object-fit:stretch;
    border-radius:2%;
    /* padding:.3rem .9rem .9rem .9rem ; */
}

.card-detail{
    margin-top:1rem;
    margin-bottom:1rem;
    padding-top:1.2rem;
    font-weight:600;
    font-size:2rem;
    padding-bottom:.6rem;
}

.card-detail{
    display:flex;
    color:var(--light-color);
    padding-left:2rem;
    font-size:1.5rem;
    font-weight:590;
}
.card-detail img{
    height:1.5rem;
    width:2rem;
}
.card-detail p{
    font-size:1.5rem;
    padding-right:1.4rem;
}
.card-detail p i{
    padding-right:.4rem;
}

.card-btn{
    padding:.5rem;
    background:var(--green);
    text-align:center;
    cursor:pointer;
    margin-bottom:.3rem;
}
.card-btn a{
    text-align:center;
    font-size:2rem;
    font-weight:800;
    transition:all .3s ease 0s;
    color:rgba(255, 255, 255, 0.87);

}
.card-btn:hover{
    background:#289055; 
}
.card-btn a:hover{
    color:#fff;
    font-weight:800;
}
/* card section ends */
/* How it works sectioon starts */
.ride-heading{
   margin:3rem 0 0 0;
    text-align:center;
    
}
.ride-heading span{
    font-size:1.5rem;
    font-weight:550;
    text-transform:uppercase;
}
.ride-heading h1{
    font-size:2rem;
}

.ride-container{
    display:grid;
    align-items:center;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:1rem;
    margin-top:1rem;
    padding: 2rem 2rem 2rem 6rem;
    text-align:center;
    margin-bottom:9rem;
}
.ride-box{
    border:.1rem solid #eee;
    padding:6rem;
}
.ride-box i{
    font-size:34px;
    padding:10px;
    background:#eeeff1;
    border-radius:0.5rem;
    color:#fe5b3d;
}
.ride-box h2{
    font-size:1.7rem; 
    font-weight:600;
    margin:1.4rem 0 0.5rem;
}
.ride-box p{
    font-size:1.4rem;
    color:#000;

}
.ride-container .ride-box .fas:hover, .ride-box .fa-calendar-check {
background:linear-gradient(#fe5d3d,#ffac38);
color:#fff;
}


/* book car main container*/
.book{
  padding:1.2rem;
  width:100%;
  height:35rem;
  /* background:rgb(238, 238, 238); */
  background:#fff;
  margin:0 .3rem 0 0;
}
.book-car-title{
    border-bottom:.2rem solid #000;
    display:block;
    width:50%;  
    margin-top:2rem;
    margin-bottom:1rem; 
}
.book-car-title span{
 font-size:2.7rem;
 font-weight:600;
 padding-bottom:1rem;
}
.book-car-desc{  
    display:inline-block;
    width:100%;
    height:24rem;  
    display:flex;
    justify-content:space-between;      
}
.book-car-details{
    display:inline-block;
    width:45%;
    height:100%;
    padding:1rem;
    display:flex;
    justify-content:space-between;
    background:rgba(255, 255, 255, 0.794);
    border:1px solid rgba(0,0,0, 0.1);;
    border-radius:.8rem;
    box-shadow: .1rem .3rem .1rem rgba(0,0,0, 0.1);
}   
.book-car-details span{
    font-size:2rem;
    color:rgba(0, 0, 0, 0.808);
    font-weight:580;
    text-transform:uppercase;
}
.list-style li{
    list-style-type:disc;
}
.details span{
    padding-left:1rem;
}
.details> ul li{
   padding-left:1.3rem;
   padding-bottom:1.3rem;
   display:flex;
   align-items:center;
}
.details ul li p{
    padding-left:1.1rem;
    font-size:1.6rem;
    font-weight:499;
    text-transform:capitalize;
}
.details ul{
    padding-top:1rem;
}
.details ul li i{
    color:var(--light-color);
    font-size:1.3rem;
}
.car-feature-desc{
    padding-right:3.4rem;
}
.car-feature-desc >ul{
    padding-left:2rem;
}
.car-feature-desc> ul li{
    padding-top:1.2rem;
    font-size:1.5rem;
    font-weight:490;
    text-transform:capitalize;
}
.book-car-img{
    display:inline-block;
    width:40%;
}
.book-car-img img{
    width:92%;
    height:110%;   
} 

/* book form starts */
.book-fcontainer{
    /* background-color:rgba(211, 211, 211, 0.342); */
    height:55rem; 
    padding:5rem;  
    background:#fff;
}
.book-form{
    padding:5rem;
    height:100%;
}
.book-fcontainer h1{
    font-size:3rem;
    font-weight:4000;
    padding-left:3rem;
    text-shadow:.1rem .3rem .3rem rgba(0, 0, 0, 0.418);
}
.book-form > ul li label{
    color:var(--black);
 /* color:rgba(0, 0, 0, 0.801); */
 font-size:1.8rem;
 font-weight:600;
}
.book-form > ul li input{
    padding:1rem 1.3rem;
    width:83%;
    font-size:1.6rem;
    text-transform:none;
    color:var(--black);
    border:.1rem solid rgba(0,0,0,0.1);
    border-radius:.5rem;
}
/* form date and time */
.form-exception{
    display:flex;
    align-items:center;
    width:90%;
}
.form-date{
    display:inline-block;
    width:34%;
}
.form-time{
    display:inline-block;
    width:30%;
    margin-left:4rem;
}
.form-age{
    margin-top:.9rem;
}
.book-fcontainer form input[type="submit"]{
    padding:1.5rem;
    border-radius:10rem;
    color:#fff;
    background:var(--green);
    font-size:1.8rem;
    font-weight:600;
    margin-top:1rem;
    margin-left:55rem;
    width:20rem;

    
}
.book-fcontainer form input[type="submit"]:hover{
    background-color:#289055;
    font-size:1.84rem;
    color:#fff;
    font-weight:602;
    transition :all .50s ease 0;
}
/* carlisting starts */
.Allcars h1{
    margin-top:1rem;
  padding-top:.6rem;
  padding-bottom:.4rem;
  text-align:center;
  color:var(--green);
  font-size:4.5rem;
  font-weight:700;
  border-bottom:.1rem solid rgba(0, 0, 0, 0.068);
}
.Allcarscontainer{
  padding:3rem 0 0rem 5rem;
 
  /* width:100%; */
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(285px,1fr));
  gap:2rem;
  gap:1.5rem;
  background:#fff1;
  margin-bottom:5rem;

}

.cardlist{
    width:85%;
    height:36rem;
    border:.1rem solid rgba(0,0,0, 0.1);;
    background:#fff;
    border-radius:.4rem;
    box-shadow:.2rem .5rem .5rem  rgba(0, 0, 0, 0.178)
}
.carlist-title{
    padding-top:.5rem;
    font-size:2.4rem;
    font-weight:600;
    color:var(--light-color);
    text-align:center;
}
.cardlist-img img{
    width:100%;
    height:20rem;
    object-fit:stretch;
    padding:.8rem;
    border-radius:1.3rem;
    margin-bottom:2rem;
}

.carlist-desc{
    display:flex;
    align-items:center;
    color:var(--light-color);
    font-size:1.5rem;
    font-weight:590;
    padding-top:1rem;
    padding-left:1.5rem;
    margin-bottom:2rem;
}
.carlist-desc p{
  padding-right:1.1rem;
}
.carlist-desc img{
    height:1.5rem;
    width:2rem;
    padding-right:.2rem;
}
.carlist-desc p i{
    padding-right:.5rem;
}
.carbook-btn{
    margin-top:1rem;
    width:100%;
    background:var(--green);
    padding:1rem;
    text-align:center;
    cursor:pointer;
}
.carbook-btn a{
  color:rgba(255, 255, 255, 0.863);
  font-size:1.8rem;
  font-weight:700;
  transition:all .3s ease 0s;
}
.carbook-btn:hover{
    background:#289055;  
}
.carbook-btn a:hover{
    color:#fff;
    font-weight:800;
}
/* Testimonials */
.testimonials h1{
    font-size:2.5rem;
    text-align:center;
    color:rgba(0, 0, 0, 0.726);
    font-weight:800;
    margin-top:2rem;
}
.testimonials{
    display:grid;
    align-items:center;
}
.testimonials-container{
    
    /* width:100%; */
    display:grid;
    align-items:center;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:2rem 4rem;
    /* padding-left:2rem;
    padding-right:2rem; */
    padding:5rem;
}
.testimonials-cards{
    height:32rem;
    /* width:31%; */
    background:#fff;
    text-align:center;
    /* padding:2rem; */
    /* margin:2rem 0; */
    /* transform: scale(.9); */
    border:.1rem  solid rgba(0, 0, 0, 0.1);
    box-shadow:0 .5rem 1rem rgba(0, 0, 0, 0.109);
    border-radius:.5rem;
}
.testimonials-cards img{
    margin-top:2rem;
    border-radius:50%;
    height:7rem;
    width:7rem;
    object-fit:cover;
}

.content p{
    color:var(--light-color);
    font-size:1.4rem;
    padding:1rem 0;
}

.testimonials-cards h3{
    color:var(--black);
    font-size:2.2rem;
    padding-bottom: .5rem;
}
.testimonials-cards .stars i{
    color:#f9d806;
    font-size:1.7rem;
}
/* icons section */
.icons-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(25rem,1fr));
    gap:1.5rem;
    padding: 5rem;  
    background:#eee;
}
 .icons{
    background:#fff;
    display: flex;
    align-items: center;
    box-shadow:.1rem .2rem .1rem rgba(0,0,0,0.1);
    border-radius:.5rem;
    padding:1.5rem;
    gap:1.5rem;
}
.icons-container .icons i{
    height:5rem;
    width:5rem;
    line-height:5rem;
    font-size:2.2rem;
    color:var(--black);
    background:#eee;
    text-align: center;
    border-radius: 50%;
}

.icons-container .icons .icons-content h3{
    font-size:2.5rem;
    /* color:var(--black); */
    color:var(--green-color);
}
.icons:hover{
    background:var(--green-hover);
}
.icons:hover i{
    background:rgba(255, 255, 0, 0.472);
}
.icons-content p{
    font-size:1.5rem;
    font-weight:600;
    color:var(--light-color);
    text-transform:capitalize;
}
.icons:hover .icons-content h3{
    color:#fff;
}
.icons:hover .icons-content p{
    color:#fff;
}


/* Newsletter sections starts */
.Newsletter{
    padding:6rem 2rem;
    background:url(../Assets/Image/letter-bg.png);
    background-size:cover;
    background-position:center;
    text-align:center;
}
.Newsletter h3{
    font-size: 3rem;
    color:var(--black);
    text-transform:capitalize;
}
.Newsletter p{
  font-size: 1.5rem;
  color:var(--light-color);
  padding:1rem 0;
}
.Newsletter form{
    max-width: 60rem;
    height:5rem;
    background:#fff;
    border-radius: 5rem;
    overflow:hidden;
    display:flex;
    margin:1rem auto;
    box-shadow:.1rem .3rem .1rem rgba(0,0,0,0.1);
}
.Newsletter form input[type="email"]{
    height: 100%;
    width:100%;
    padding:0 2rem;font-size: 1.6rem;
    font-size:1.6rem;
    color:var(--black);
}
.Newsletter form input[type="submit"]{
    height:100%;
    width:17rem;
    font-size:1.8rem;
    font-weight:600;
    color:#fff;
    background:var(--green-color);
    cursor:pointer;
    text-transform:capitalize;
}
.Newsletter form input[type="submit"]:hover{
    background:var(--green-hover);
}
/* footer section starts */
.footer{
    margin-top:0rem;
    background:#111;
    padding-top:1rem;
    padding-bottom:2rem;
    
}
.footer-container{
    display:grid;
    align-items:center;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    column-gap:3rem;
    /* padding:2rem .3rem .2rem 3rem; */
    color:#eee;
    margin-left:10rem;
    cursor:pointer;
}
/* .width-30{
    width:30%;
} */

.footer-container h2{
color:#fff;
font-size: 2rem;
font-weight:600;
padding-bottom:2rem;
}
.Quicklinks ul li{
    margin-bottom:.8rem;
}
.Quicklinks ul li a{
   color:#eee;
  font-size:1.4rem; 
}
.Quicklinks ul li a:hover{
    border-bottom:1px solid #eee;
    
}
.contact-info ul li{
 margin-bottom:.8rem;
}

.contact-info ul li span{
    font-size:1.4rem;
}
.contact-info ul li span:hover{
    border-bottom: 1px solid #eee;
}
.copyright-Text{
    font-size:1.5rem;
    background:#181818;
    padding: 8px 100px;
    text-align:center;
    color:#999;
}

/* Contact form */
.contact-form{
    background:rgba(255, 255, 255, 0.883);
    height:50rem;
    display:flex;
    justify-content:center;
}
.contact-form h5{
    padding:1rem;
    font-size:2rem;
    color:rgba(0, 0, 0, 0.753);
    position:relative;
    text-align:center;
}
.contact-form h5:after{
    content:'';
    position:absolute;
    top:3.5rem;left:0;right:0;
    border-bottom:.189rem solid rgba(0, 128, 0, 0.431);
}
.form{
    margin-top:3rem;
    border:.1rem solid rgba(0,0,0,0.1);
    padding:2rem;
    height:40rem;
    background:#fff;
    border-radius:.5rem;
    box-shadow:.1rem .3rem .3rem  rgba(0, 0, 0, 0.205);
}
.form > ul li label{
  font-size:2rem;
  font-weight:550; 
  /* color:rgba(0, 0, 0, 0.747);  */
  color:#07051bb2;
}
.form > ul li input{
    padding:1rem;
    width:90%;
    color:rgba(0, 0, 0, 0.863);
    border:1px solid rgba(19, 18, 18, 0.205);
    border-radius:.5rem;
}
.form >ul li input:focus{
  border:1px solid rgba(25, 0, 255, 0.383);
}
.form textarea{
    width:90%;
    padding:1rem;
    resize:vertical;
    border:1px solid rgba(19, 18, 18, 0.452);
    border-radius:.5rem;
 
}
.form textarea:focus{
    border:1px solid rgba(25, 0, 255, 0.383);
}
.send-message{
    margin-top:1rem;
    margin-left:21rem;
    padding:1rem;
    background:var(--green);
    border-radius:5rem;
    color:#eee;
    font-size:1.5rem;
    font-weight:580;
    transition:all .3s ease 0;
}
.send-message:hover{
    color:#fff;
    font-size:1.6rem;
    font-weight:600;
    background:#289055; 
}

.nave .login a i{
    display:none;
}
@media (max-width:768px){
.header{
    height:6rem;
    display:flex;
}   
.slide-caption{
    top:7rem;
    left:9rem;
} 
.slide-caption h5{
    font-size:5rem;
}
.slide-caption p{
    font-size:rem;
}
.prev{
    top:45%;
    left:0;
    transform:translateX(1rem);
    transform:translateY(-1%);
}
.next{ 
    top:43%;
    right:0;
    transform:translateX(-.1rem);
    transform:translateY(-1%);
}
    /* #menu-btn{
        display:block;
    } */
.nave{
    display:inline-block;
}
.navf{
    display:inline-block;
    font-size:1.7rem;
}
.header .search input{
    display:inline-block; 
    width:12rem; 
    margin-right:1.3rem;
}
.header .search input:focus{
  width:12rem;
}
.nave .login a i{
 display:inline-block;
}
.nave{
    display:inline-block;
}
.header .navcon{
    /* position:absolute;
    top:99%;left:0;right:0;
    height:18rem;
    background:#eee;
    display:block;
    padding-top:2rem;   */
    /* clip-path: polygon(0 0,100% 0, 100% 0,0 0); */
    /* margin-left:3rem; */
    padding:.2rem;
    font-size:.1rem;
}
.navcon .drop-btn{
    font-size:1.5rem;
}


.demo{
    display:flex;
    align-items:center;
}
.demo #menu-btn{
    display:block;

}

.nave{
    display:inline-block;
}
.nave a{
    font-size:1.7rem;
}
.Card .card-container{
    row-gap:3rem;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(255px,1fr));
}
.Card .card-container .card-body{
  /* margin-left:15rem; */
  width:30rem;
   
}
.testimonials-cards{
    height:35rem;
}

.Allcars .Allcarscontainer{
    row-gap:5rem;
}
.Allcars .Allcarscontainer .cardlist{
    width:29rem;
}
.book .book-car-desc .book-car-details{
width:45rem;
margin-left:.1rem;
}
.book .book-car-desc .book-car-img img{
    width:95%;
    margin-left:1rem;
}
.book-fcontainer .book-form input[type="submit"]{
margin-left:19rem;
margin-top:2rem;
width:20rem;   
}
}






@media (max-width:455px){

    html{
        font-size: 60%;
    }
.slider img{
    width:50rem;
}
.slide-caption{
    top:10rem;
    left:5rem;
} 
.slide-caption h5{
    font-size:3.6rem;
}
.slide-caption p{
    font-size:2.9rem;
}
.prev{
    top:45%;
    left:0;
    transform:translateX(1rem);
    transform:translateY(-1%);
}
.next{ 
    top:43%;
    right:0;
    transform:translateX(-.1rem);
    transform:translateY(-1%);
}
.footer-container{
    margin-left:1rem;
}
.Aboutus{
    margin-bottom:2rem;
}
.Quicklinks{
    margin-bottom:2rem;
}
.search{
    display:none;
}
.navcon .drop-btn{
    font-size:1.7rem;
}
.navcon .drop-btn:hover{
    font-size:1.7rem;
}
.Card .card-container{
    row-gap:3rem;
}
.Card .card-container .card-body{
  margin-left:1.5rem;
  width:35rem;
   
}
.navf{
    display:none;
}
.Allcars .Allcarscontainer .cardlist{
    width:33rem;
    margin-left:1rem;
}
.book-fcontainer .book-form input[type="submit"]{
    margin-left:15rem;
    margin-top:2rem;
    width:20rem; 
}

}
/* #menu-btn{

    font-size:2.5rem;
    color:var(--light-color);
    display:none;
} */
/* #menu-btn .fa-times{
    transform:rotate(180deg);
}
.active{
    clip-path: polygon(0 0,100% 0, 100% 0,0 0);
 
} */